<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dataservicios.com.ttauditalicorp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission."></uses-permission>

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- The following two permissions are not required to use

         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- PERMISO PARA HACER LLAMADA DESDE LA APP A UN PHONO-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <application
        android:name="dataservicios.com.ttauditalicorp.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_agente"
        android:label="@string/app_name"
        android:screenOrientation="portrait" >
        <activity
            android:name="dataservicios.com.ttauditalicorp.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.Ubicacion"
            android:screenOrientation="portrait"

            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.UBICACION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="dataservicios.com.ttauditalicorp.MapaRuta"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel"
            >

            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.MAPARUTAS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.PanelAdmin"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.PANELADMIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name="dataservicios.com.ttauditalicorp.PuntosVenta"
            android:screenOrientation="portrait"
            android:label="PDVs del día"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.PUNTOSVENTA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.DetallePdv"
            android:screenOrientation="portrait"
            android:label="Detalle PDV"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.DETALLEPDV" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="dataservicios.com.ttauditalicorp.AditoriaAlicorp.PresenciaMaterial"
            android:screenOrientation="portrait"
            android:label="Presencia de Material Publicitario"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.PRESENCIAMATERIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.AditoriaAlicorp.DetailPublicity"
            android:screenOrientation="portrait"
            android:label="Presencia de Material Publicitario"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.DETAIPUBLICITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.AditoriaAlicorp.Facturacion"
            android:screenOrientation="portrait"
            android:label="Presencia de Material Publicitario"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.FACTURACION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.Premiacion"
            android:screenOrientation="portrait"
            android:label="Presencia de Material Publicitario"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.PREMIACION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.AditoriaAlicorp.CategoriasSOD"
            android:screenOrientation="portrait"
            android:label="Categorias"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.CATEGORIASSOD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.AditoriaAlicorp.Ventanas"
            android:screenOrientation="portrait"
            android:label="Precio"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.VENTANAS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.AditoriaAlicorp.VentanaExiste"
            android:screenOrientation="portrait"
            android:label="Precio"
            android:theme="@style/AppThemeAdminPanel"
            >
        </activity>

        <activity
            android:name=".AditoriaAlicorp.VentanaVisible"
            android:screenOrientation="portrait"
            android:label="Precio"
            android:theme="@style/AppThemeAdminPanel"
            >
        </activity>

        <activity
            android:name="dataservicios.com.ttauditalicorp.AditoriaAlicorp.StoreOpenClose"
            android:screenOrientation="portrait"
            android:label="Precio"
            android:theme="@style/AppThemeAdminPanel"
            >
            <intent-filter>
                <action android:name="dataservicios.com.ttauditalicorp.STOREOPENCLOSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditStore"
            android:screenOrientation="portrait"
            android:label="Editar Dirección"
            android:theme="@style/AppThemeAdminPanel"
            >
        </activity>
        <activity
            android:name=".AditoriaAlicorp.ClientePerfecto"
            android:screenOrientation="portrait"
            android:label="Editar Dirección"
            android:theme="@style/AppThemeAdminPanel"
            >
        </activity>

        <activity
            android:name=".AditoriaAlicorp.ClientePerfectoPremiado"
            android:screenOrientation="portrait"
            android:label="Editar Dirección"
            android:theme="@style/AppThemeAdminPanel"
            >
        </activity>

        <activity
            android:name=".AditoriaAlicorp.ExhibidorExiste"
            android:screenOrientation="portrait"
            android:label="Editar Dirección"
            android:theme="@style/AppThemeAdminPanel"
            >
        </activity>


        <!-- ABOUT-->
        <activity
            android:name="dataservicios.com.ttauditalicorp.About"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAdminPanel">
            <intent-filter>
                <action android:name="com.dataservicios.redagenteglobalapp.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="dataservicios.com.ttauditalicorp.AndroidCustomGalleryActivity"
            android:screenOrientation="portrait"
            android:label="Galeria de Agente"
            android:theme="@style/AppThemeAdminPanel">
        </activity>

        <uses-library android:name="com.google.android.maps"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Key api Google Mode RELEASE-->
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyBhzYlUq35NTpdxrkZzmxI3ffSw6v4DZ4Q"/>-->
        <!--Key api Google Mode DEBUG-->
        <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyAnYybk5WcVCIxWXtVUvvoXvAum6vyJwsU"/>

        <service android:name="dataservicios.com.ttauditalicorp.Services.UploadService" android:label="@string/app_name">
        </service>
    </application>
</manifest>
